#auth-service/src/main/resources/application-dev.yml
spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/nfe_auth_db
    username: root
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # dev: update, prod: validate 추천
    properties:
      hibernate:
        '[format_sql]': true
    show-sql: true


kakao:
  client-id: e24acf0d852dbddb398dacfe2dee93b8   # REST API 키
  client-secret: ""                             # 거의 사용 안함
  redirect-uri: "http://app1.127.0.0.1.nip.io:5173/kakao/callback"



server:
  port: 8080  # Auth Service 전용 포트

jwt:
  secret:
    user: mySecretKey123456789012345678901234567890
    admin: adSecretKey123456789012345678901234567890
  access-token-expiration: 3600000      # 1시간 (밀리초)
  refresh-token-expiration: 604800000   # 7일 (밀리초)
  admin-token-expiration: 604800000 # 7일(ms)

recaptcha:
  site-key: 6LdNZe8rAAAAAGPY2ogOU63OIUyoNHWXjH5wi8FG
  secret-key: 6LdNZe8rAAAAACi1iSi1QN0yr_brsWzHVi170BSU
  enabled: false  # 기본값 true

service:
  attach:
    url: http://attach.127.0.0.1.nip.io:8082

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    dev.emoforge.auth: DEBUG   # JwtAuthenticationFilter 패키지


# 기존 내용에 추가 (dev용)
auth:
  cors:
    allowed-origins:
      - http://app1.127.0.0.1.nip.io:5173
      - http://app2.127.0.0.1.nip.io:5174
      - http://app3.127.0.0.1.nip.io:5175
      - http://app4.127.0.0.1.nip.io:5176

  redirect:
    success: http://app1.127.0.0.1.nip.io:5173/profile
    inactive: http://app1.127.0.0.1.nip.io:5173/login?error=inactive
    deleted: http://app1.127.0.0.1.nip.io:5173/login?error=deleted

  cookie:
    access-domain: .127.0.0.1.nip.io
    refresh-domain: .127.0.0.1.nip.io
    remove-domain: .127.0.0.1.nip.io
    secure: false
    same-site: Lax
    expiration:
      access-hours: 1
      refresh-days: 7
    names:
      access: access_token
      refresh: refresh_token

admin:
  cookie:
    name: admin_token
    domain: .127.0.0.1.nip.io
    secure: false
    http-only: false
    same-site: Lax
    max-age-seconds: 1800  # 30분

#Swagger-ui에서 Try it out 버튼 비활성화
springdoc:
  swagger-ui:
    supported-submit-methods: []